
<div class="p-10">
  <!--Card 1-->
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="object-fill h-48 w-34 w-full  lazy"  src="<%=model_post.image %>" alt="Mountain">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"><%= model_post.title %></div>
      <p class="text-gray-700 text-base">
        <%= model_post.content %>
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"> <%= model_post.email %> </span>
      <% if current_page?(:controller => 'model_posts', :action => 'index') %>

        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "edit" , edit_model_post_path(model_post) %></span>

      <%end %>

      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
    </div>
  </div>
</div>